/* section one */
.section__one {
  width: 100%;
  height: 300px;
  background-color: #DEDDDB;
  padding-bottom: 20px;
}

.navigation__item__link {
  text-decoration: none;
  color: black;
}

.section__oneheader__logo {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.navigation__item {
  list-style: none;
  color: black;
}

.section__oneheader, .navigation__listitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__oneheader {
  padding: 20px;
  color: black;
}

.header__tittle {
  font-size: 30px;
  color: black;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header__text {
  font-size: 20px;
  color: black;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section__two__container__listitems {
  margin-left: 100px;
  margin-right: 100px;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #DEDDDB;
}

.box__name, .box__email, .box__send {
  width: 100px;
  height: 30px;
  margin: 10px;
}

.box__send {
  background-color: #FFDD33;
}

/* section three*/
.container {
  width: 100%;
  height: 300px;
  border: 1px solid white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  margin-left: 100px;
  margin-right: 100px;
}

.item:nth-child(1) {
  background-color: white;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  background-color: #FFDD33;
}

.item:nth-child(2) {
  background-color: white;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / span 1;
}

.section__three__tittle {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 50px;
  margin-bottom: 50px;
}

.item__tittle {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}

.item__text {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.item__listitems {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.item__item {
  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
}

.item__text {
  margin-left: 20px;
}

/* section four */
.container2 {
  width: 100%;
  height: 300px;
  border: 1px solid white;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  grid-column-gap: 50px;
}

.container2__item1 {
  background-color: white;
}

.container2__item2 {
  background-color: white;
}

.section__two__container__itemimage2 {
  margin-right: 20px;
}

.section__five {
  margin-bottom: 50px;
}

.item__listitems {
  list-style: circle;
}

.section__two__container__listitems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  margin-top: 50px;
}

.section__two__container__item {
  text-align: center;
  margin-right: 50px;
  margin-left: 50px;
}

.section__two__container__itemtext {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.container3 {
  width: 100%;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  grid-column-gap: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.container3__item:nth-child(1) {
  border: 1px solid gray;
  background-color: #FFDD33;
}

.container3__item:nth-child(2) {
  border: 1px solid gray;
}

.container3__item:nth-child(3) {
  border: 1px solid gray;
}
/*# sourceMappingURL=styles.css.map */